/* 弹窗 */
.ui-dialog-wrap {color: #333; position: absolute; left: 50%; top: 45%; transition: top .2s ease-in-out;}
.ui-dialog-mask {width: 100%; height:100%; position: fixed; _position: absolute; left: 0; top: 0; background:#000; display: none;}
.ui-dialog-outer {padding: 5px; filter:alpha(opacity=20); background:#000; background:rgba(0,0,0,0.2) !important; zoom: 1;}
.ui-dialog-inner {font: normal 14px/1.5 arial simsun; position: relative;}
.ui-dialog-head {background: #f2f2f2; border-bottom: 1px solid #e0e0e0; position: relative;}
.ui-dialog-cont {background: #fff;font-family:Microsoft Yahei;}
.ui-dialog-foot {padding: 10px; background: #fff; text-align: right; font-size: 0; word-spacing: -1px;}
.ui-dialog-title {padding: 0 25px 0 10px; height: 40px; color: #333; font: bold 14px/40px arial simsun; overflow: hidden;}
.ui-dialog-close {width: 12px; height: 12px; color: #666; text-align: center; font: bold 14px/12px simsun; text-decoration: none; outline: none; position: absolute; top: 14px; right: 10px; cursor: pointer;}
.ui-dialog-close:hover {color: #666;text-decoration: none;}
.ui-dialog-cont .protocolContent{font-family:Microsoft Yahei;max-height:500px;overflow:auto;padding-bottom:20px;}
.ui-dialog-cont .protocolContent h2{text-align:center;font-size:16px;font-weight:bold;color:#333}
.ui-dialog-cont .protocolContent p{font-size:14px;color:#666;text-indent:20px;}

.dialog_warn{padding:50px 0px 50px 116px;position:relative;}
.dialog_warn h2{font-size:14px;font-weight:bold;color:#333;}
.dialog_warn .confirm{width:74px;height:28px;text-align:center;line-height:28px;background:#ff9900;border:1px solid #e68a00;font-size:14px;font-weight:bold;color:#fff;cursor:pointer;border-radius:4px;margin-top:20px;margin-left:40px;}
.dialog_warn .cancel{width:74px;height:28px;text-align:center;line-height:28px;background:#f8f8f8;border:1px solid #ddd;font-size:14px;font-weight:bold;color:#333;cursor:pointer;border-radius:4px;margin-top:20px;}
.dialog_warn .fail{background:url(../images/dialog_warn.jpg) no-repeat;width:32px;height:32px;position:absolute;top:46px;left:76px;}

.birth_input{background: url(../images/ticket-icons.png) 165px -32px no-repeat;}
.dialog_input{width:180px;height:24px;line-height:24px;border:1px solid #ccc;padding-left:10px;color:#666;font-size:12px;float:left;}

/* 日期控件 start */
    .cal-close{position:absolute;right:5px;top:5px;display:block;width:15px;height:15px;font-size:0;background:url(../images/calendarIcon.png) no-repeat right -13px;cursor:pointer;text-indent:-20px;}
    .cal-prev,.cal-next{margin-top:90px;width:20px;height:38px;cursor:pointer;background:url(../images/calendarBtn.png) no-repeat;text-indent:-30px;overflow:hidden;}
    .cal-prev{float:left;margin-left:10px;}
    .cal-next{float:left;margin-right:10px;background-position:-20px 0;}
    .cal-container{float:left;margin:10px 7px 0;}
    .calendar{float:left;position:relative;border:1px solid #cacaca;background:#fff;padding-bottom:15px;}
    .calendar dl,.calendar dd{margin:0;padding:0;width:183px;font-size:12px; line-height:24px;}
    .calendar dt.title-date{width:100%;background:none;border:none;color:#404040; display:block; border-bottom:1px solid #E4E4E4;font-weight:700;position:relative;}
    .calendar dt{background:#555;float:left;width:25px;border-right:1px solid #6e6e6e; text-align:center;color:#fff;}
    .calendar dt.last{padding-left:1px;border-right:none;}
    .calendar dt.first{padding-left:1px;}
    .calendar dd{clear: both;width:183px;height:139px;font-weight: 700;background:url(../images/calendarFrame.png) no-repeat; margin:0;}
    .prevyear{left:4px;width:9px;}
    .prevmonth{ width:5px;background-position:-9px 0; left:20px;}
    .nextyear{  width:9px;background-position:-19px 0; right:5px;}
    .nextmonth{ width:5px;background-position:-14px 0; right:20px;}
    .calendar dd a{float:left;width: 25px;height: 22px; overflow: hidden; text-decoration: none;margin: 1px 0 0 1px; text-align:center;color:#333;}
    .calendar dd a.hover{background:#BBDDF4;color:#fff;}
    .calendar dd a:hover{background:#f60;color:#fff;}
    .calendar dd a.disabled:hover,.calendar dd a.disabled{background:#fff;color:#999;cursor:default;}
    .calendar dd a.startdate{background:#06c;color:#fff;}
    .calendar dd a.yuandan,
    .calendar dd a.chuxi,
    .calendar dd a.chunjie,
    .calendar dd a.yuanxiao,
    .calendar dd a.qingming,
    .calendar dd a.wuyi,
    .calendar dd a.duanwu,
    .calendar dd a.zhongqiu,
    .calendar dd a.guoqing,
    .calendar dd a.today
    {text-indent:-999px;background:url(../images/calendarFestival.png) no-repeat;}
    .calendar dd a.yuandan{background-position:0 0;}
    .calendar dd a.chuxi{background-position:0 -30px;}
    .calendar dd a.chunjie{background-position:0 -60px;}
    .calendar dd a.yuanxiao{background-position:0 -90px;}
    .calendar dd a.qingming{background-position:0 -120px;}
    .calendar dd a.wuyi{background-position:0 -150px;}
    .calendar dd a.duanwu{background-position:0 -180px;}
    .calendar dd a.zhongqiu{background-position:0 -210px;}
    .calendar dd a.guoqing{background-position:0 -240px;}
    .calendar dd a.today{background-position:0 -270px;}
    .calendar dd a.yuandan:hover,
    .calendar dd a.yuandan:hover .select-range,
    .calendar dd a.yuandan .selected,
    .calendar dd a.yuandan .start-date
    {background-position:-31px 0;}
    .calendar dd a.chuxi:hover,
    .calendar dd a.chuxi:hover .select-range,
    .calendar dd a.chuxi .selected,
    .calendar dd a.chuxi .start-date
    {background-position:-31px -30px;}
    .calendar dd a.chunjie:hover,
    .calendar dd a.chunjie:hover .select-range,
    .calendar dd a.chunjie .selected,
    .calendar dd a.chunjie .start-date
    {background-position:-31px -60px;}
    .calendar dd a.yuanxiao:hover,
    .calendar dd a.yuanxiao:hover .select-range,
    .calendar dd a.yuanxiao .selected,
    .calendar dd a.yuanxiao .start-date
    {background-position:-31px -90px;}
    .calendar dd a.qingming:hover,
    .calendar dd a.qingming:hover .select-range,
    .calendar dd a.qingming .selected,
    .calendar dd a.qingming .start-date
    {background-position:-31px -120px;}
    .calendar dd a.wuyi:hover,
    .calendar dd a.wuyi:hover .select-range,
    .calendar dd a.wuyi .selected,
    .calendar dd a.wuyi .start-date
    {background-position:-31px -150px;}
    .calendar dd a.duanwu:hover,
    .calendar dd a.duanwu:hover .select-range,
    .calendar dd a.duanwu .selected,
    .calendar dd a.duanwu .start-date
    {background-position:-31px -180px;}
    .calendar dd a.zhongqiu:hover,
    .calendar dd a.zhongqiu:hover .select-range,
    .calendar dd a.zhongqiu .selected,
    .calendar dd a.zhongqiu .start-date
    {background-position:-31px -210px;}
    .calendar dd a.guoqing:hover,
    .calendar dd a.guoqing:hover .select-range,
    .calendar dd a.guoqing .selected,
    .calendar dd a.guoqing .start-date
    {background-position:-31px -240px;}
    .calendar dd a.today:hover,
    .calendar dd a.today:hover .select-range,
    .calendar dd a.today .selected,
    .calendar dd a.today .start-date
    {background-position:-31px -270px;}
    .calendar dd a.end-date,
    .cal-end dd a:hover,
    .cal-end dd a.select-range:hover
    {color:#FFF;background-color:#E2AD44;}
    .calendar dd a.yuandan .end-date,
    .cal-end dd a.yuandan:hover,
    .cal-end dd a.yuandan:hover .select-range
    {background-position:-62px 0;}
    .calendar dd a.chuxi .end-date,
    .cal-end dd a.chuxi:hover,
    .cal-end dd a.chuxi:hover .select-range
    {background-position:-62px -30px;}
    .calendar dd a.chunjie .end-date,
    .cal-end dd a.chunjie:hover,
    .cal-end dd a.chunjie:hover .select-range
    {background-position:-62px -60px;}
    .calendar dd a.yuanxiao .end-date,
    .cal-end dd a.yuanxiao:hover,
    .cal-end dd a.yuanxiao:hover .select-range
    {background-position:-62px -90px;}
    .calendar dd a.qingming .end-date,
    .cal-end dd a.qingming:hover,
    .cal-end dd a.qingming:hover .select-range
    {background-position:-62px -120px;}
    .calendar dd a.wuyi .end-date,
    .cal-end dd a.wuyi:hover,
    .cal-end dd a.wuyi:hover .select-range
    {background-position:-62px -150px;}
    .calendar dd a.duanwu .end-date,
    .cal-end dd a.duanwu:hover,
    .cal-end dd a.duanwu:hover .select-range
    {background-position:-62px -180px;}
    .calendar dd a.zhongqiu .end-date,
    .cal-end dd a.zhongqiu:hover,
    .cal-end dd a.zhongqiu:hover .select-range
    {background-position:-62px -210px;}
    .calendar dd a.guoqing .end-date,
    .cal-end dd a.guoqing:hover,
    .cal-end dd a.guoqing:hover .select-range
    {background-position:-62px -240px;}
    .calendar dd a.today .end-date,
    .cal-end dd a.today:hover,
    .cal-end dd a.today:hover .select-range
    {background-position:-62px -270px;}
    .calendar dd a.select-range{background-color:#D9F2FF;}
    .calendar dd a.yuandan .select-range{background-position:-93px 0;}
    .calendar dd a.chuxi .select-range{background-position:-93px -30px;}
    .calendar dd a.chunjie .select-range{background-position:-93px -60px;}
    .calendar dd a.yuanxiao .select-range{background-position:-93px -90px;}
    .calendar dd a.qingming .select-range{background-position:-93px -120px;}
    .calendar dd a.wuyi .select-range{background-position:-93px -150px;}
    .calendar dd a.duanwu .select-range{background-position:-93px -180px;}
    .calendar dd a.zhongqiu .select-range{background-position:-93px -210px;}
    .calendar dd a.guoqing .select-range{background-position:-93px -240px;}
    .calendar dd a.today .select-range{background-position:-93px -270px;}
    .cal-end dd a.hover{background-color:#BBDDF4;}
    .cal-end dd a.yuandan .hover{background-position:-124px 0;}
    .cal-end dd a.chuxi .hover{background-position:-124px -30px;}
    .cal-end dd a.chunjie .hover{background-position:-124px -60px;}
    .cal-end dd a.yuanxiao .hover{background-position:-124px -90px;}
    .cal-end dd a.qingming .hover{background-position:-124px -120px;}
    .cal-end dd a.wuyi .hover{background-position:-124px -150px;}
    .cal-end dd a.duanwu .hover{background-position:-124px -180px;}
    .cal-end dd a.zhongqiu .hover{background-position:-124px -210px;}
    .cal-end dd a.guoqing .hover{background-position:-124px -240px;}
    .cal-end dd a.today .hover{background-position:-124px -270px;}
    .calendar-time{float:left;clear:left;margin:15px 0 0 7px;color:#333;_display:inline;}
    .calendar-time strong{font-size:14px;font-weight:700;}
    .calendar-time .plan{clear:left;float:left;width:184px;margin-top:15px;}
    .calendar-time .plan span{float:left;width:12px;margin-top:-6px;position:relative;z-index:2;overflow:hidden;}
    .calendar-time .plan .barM{float:left;position:relative;width:170px;height:3px;border:1px solid #AAA;background:#D8D8D8;font-size:0;}
    .calendar-time .plan .bar{cursor:pointer;position:absolute;left:0;top:-5px;width:17px;height:13px;background:url(../images/calendarIcon.png) no-repeat;}
    .input{border:1px solid #ccc;padding:4px;}

/* 日期控件 end */

/*分页[[*/
.snPages {
  float: right;
  padding-bottom: 10px;
}
.snPages a,
.snPages a:visited,
.snPages span,
.snPages div {
  position: relative;
  display: inline;
  float: left;
  margin-right: 4px;
  color: #333;
  font-size: 12px;
}
.snPages span {
  font-size: 12px;
}
.snPages div {
  line-height: 24px;
  padding-left: 30px;
  overflow: hidden;
}
.snPages a,
.snPages a:visited {
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  text-align: center;
  background: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 4px 4px 4px 4px;
}
.snPages a.current {
  color: #f70;
}
.snPages a.current:visited {
  _color: #f70;
}
.snPages a.prev,
.snPages a.next,
.snPages a.prev,
.snPages a.next:visited {
  display: inline-block;
  width: 68px;
  height: 24px;
  line-height: 24px;
  line-height: 28px \9;
  _line-height: 24px;
  padding: 0;
  overflow: hidden;
}
.snPages a.prev,
.snPages span.prev {
  text-indent: 6px;
}
.snPages a.next,
.snPages span.next {
  text-indent: -6px;
}
.snPages span.prev,
.snPages span.next {
  display: inline;
  float: left;
  width: 68px;
  height: 24px;
  line-height: 24px;
  line-height: 28px \9;
  _line-height: 24px;
  color: #b1b1b1;
  text-align: center;
  background: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 4px 4px 4px 4px;
}
.snPages b {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  margin-top: -2px;
  font-size: 0;
  border-width: 5px;
  border-style: solid;
  border-color: #fff #333 #fff #fff;
}
.snPages a.prev b {
  left: 1px;
  top: 10px;
}
.snPages a.next b {
  right: 1px;
  top: 10px;
  border-color: #fff #fff #fff #333;
}
.snPages span.prev b {
  left: 1px;
  top: 10px;
  border-color: #fff #b1b1b1 #fff #fff;
}
.snPages span.next b {
  right: 1px;
  top: 10px;
  border-color: #fff #fff #fff #b1b1b1;
}
.snPages div input {
  width: 32px;
  height: 24px;
  line-height: 24px;
  margin: 0 3px;
  text-align: center;
  *vertical-align: middle;
  border: 1px solid #d7d7d7;
}
.snPages div input.pagesubmit {
  cursor: pointer;
  width: 45px;
  height: 26px;
  color: #333;
  line-height: 26px;
  _line-height: 20px;
  background: #fff;
  border-radius: 4px 4px 4px 4px;
}
.snPages a:hover {
  color: #f70;
}